<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>398220662642-ej579hkjlbk5rc8f205ru3u16jlliei5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398220662642-ej579hkjlbk5rc8f205ru3u16jlliei5</string>
	<key>API_KEY</key>
	<string>AIzaSyDS2N4r6OZsaF4g9GVqegm9_PRHJRGGI0U</string>
	<key>GCM_SENDER_ID</key>
	<string>398220662642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>iot-training-final-project</string>
	<key>STORAGE_BUCKET</key>
	<string>iot-training-final-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398220662642:ios:06cfc6669f1d1f12082feb</string>
	<key>DATABASE_URL</key>
	<string>https://iot-training-final-project-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>